/*************************************************************/
/*   Design:   Multiflex-3 Update-2 / Header-3 (Top/Bottom)  */
/*   File:     Overall global layout structure               */
/*-----------------------------------------------------------*/
/*   Author:   G. Wolfgang                                   */
/*   Date:     November 29, 2006                             */
/*   Homepage: wwww.1-2-3-4.info                             */
/*-----------------------------------------------------------*/
/*   License:  Fully open source without restrictions.       */
/*             Please keep footer credits with a link to     */
/*             G. Wolfgang (www.1-2-3-4.info). Thank you!    */
/*************************************************************/

/*-----------------------------------------------------------------*/
/* Implement this header in your Multiflex-3 Basic or Full Layout: */
/* 1. Copy the marked rows below                                   */
/* 2. Paste and replace marked rows in "layoutNN_setup.css" file.  */
/* 3. Open HTML file "header3.html", and follow its instructions   */
/*-----------------------------------------------------------------*/

/***************/
/*  1. GLOBAL  */
/***************/

/* NON-HEADER */
*{padding:0; margin:0; font-family:"GODICK";}
 body {font-size:62.5%; background-color:rgb(250,250,250); font-family:verdana,arial,sans-serif;} /*Font-size: 1.0em = 10px when browser default size is 16px*/
.page-container {width:900px; margin:0px auto; margin-top:10px; margin-bottom:10px; border:solid 1px rgb(150,150,150); font-size:1.0em;}

/* --- START COPY here --- */

/* HEADER */
.header {width:900px; font-family:"trebuchet ms",arial,sans-serif;}
.header-top {width:900px; height:80px; background:rgb(250,250,250); overflow:visible !important /*Firefox*/; overflow:hidden /*IE6*/;}
.header-bottom {width:900px; height:40px; background:rgb(250,250,250) repeat-y;}
.header-breadcrumbs {clear:both; width:900px; padding:1.0em 0 1.5em 0; background:rgb(100,100,100) repeat-y;}

/*************/
/*  2. HEAD  */
/*************/
.sitelogo {width:60px; height:40px; position:absolute; z-index:1; margin:22px 0 0 20px;}
.sitename {width:300px; height:45px; position:absolute; z-index:1; margin:20px 0 0 90px; overflow:visible !important /*Firefox*/; overflow:hidden /*IE6*/;}
.sitename h1 {font-size:240%;}
.sitename h2 {margin:-4px 0 0 0; color:rgb(125,125,125); font-size:120%;}
.sitename a{text-decoration:none; color:rgb(125,125,125);}
.sitename a:hover {text-decoration:none; color:rgb(50,50,50);}

.nav1 {width:350px; position:absolute; z-index:3; margin:45px 0 0 550px;}
.nav1 ul {float:right; padding:0 15px 0 0; font-weight:bold;}	
.nav1 li {display:inline; list-style:none;}
.nav1 li a {display:block; float:left; padding:2px 5px 2px 5px; color:rgb(125,125,125); text-decoration:none; font-size:120%;}
.nav1 a:hover {text-decoration:none; color:rgb(50,50,50);}

.nav2 {float:left; width:900px; border:none; background:#002060 repeat-x; color:#ffffff; font-size:1.0em; font-size:130%;} /*Color navigation bar normal mode*/
.nav2 ul {list-style-type:none;}
.nav2 ul li {float:left; position:relative; z-index:1000; border-right:solid 1px rgb(175,175,175);}
.nav2 ul li ul {display:none; border:none;}
.nav2 ul li ul {margin-left:-30px; padding:0 30px 30px 30px; background: top center;} /*Sticky hover zones*/
.nav2 ul li a {float:left; display:block; height:3.1em; line-height:3.1em; margin-right:0px !important /*Non-IE6*/; margin-right:-4px /*IE6*/; padding:0 16px 0 16px; text-decoration:none; font-weight:bold; color: #ffffff;}
.nav2 ul li:hover {width:auto;}
.nav2 table {position:absolute; z-index:999; top:0; left:0; border-collapse:collapse;}

/*Non-IE6*/
.nav2 ul li:hover a {background-color:rgb(210,210,210); color:#333333;text-decoration:none;} /*Color main cells hovering mode*/
.nav2 ul li:hover ul {display:block; position:absolute; z-index:998; top:3.0em; margin-top:0.1em; left:0;}
.nav2 ul li:hover ul li ul {display: none;}
.nav2 ul li:hover ul li a {display:block; width:10em; height:auto; line-height:1.3em; margin-left:-1px; padding:4px 16px 4px 16px; border-left:solid 1px rgb(175,175,175); border-bottom: solid 1px rgb(175,175,175); background-color:rgb(237,237,237); font-weight:normal; color:rgb(50,50,50);} /*Color subcells normal mode*/
.nav2 ul li:hover ul li a:hover {background-color:rgb(210,210,210); text-decoration:none;} /*Color subcells hovering mode*/

/*IE6*/
.nav2 ul li a:hover {background-color:rgb(250,250,250); text-decoration:none;} /*Color main cells hovering mode*/
.nav2 ul li a:hover ul {display:block; position:absolute;z-index: 998; top:3.1em; t\op:3.0em; left:0; marg\in-top:0.1em;}
.nav2 ul li a:hover ul li a {display:block; w\idth:10em; height:1px; line-height:1.3em; padding:4px 16px 4px 16px; border-left:solid 1px rgb(175,175,175); border-bottom: solid 1px rgb(175,175,175); background-color:rgb(237,237,237); font-weight:normal; color:rgb(50,50,50);} /*Color subcells normal mode*/
.nav2 ul li a:hover ul li a ul {visibility:hidden; height:0px; width:0px; position:absolute; z-index: 997;}
.nav2 ul li a:hover ul li a:hover {background-color:rgb(210,210,210); text-decoration:none;} /*Color subcells hovering mode*/

.header-breadcrumbs ul {float:left; width:560px; list-style:none; padding:0 0 0 15px; font-family:verdana,arial,sans-serif;}
.header-breadcrumbs ul li {display:inline; padding:0 0 0 10px; background:transparent no-repeat 0 50%; font-weight:bold; color:rgb(125,125,125); font-size:100%;}
.header-breadcrumbs ul a {color:rgb(70,122,167); text-decoration:none;}
.header-breadcrumbs ul a:hover {color:rgb(42,90,138); text-decoration:underline;}

/* 캬하 */

table {
	margin:0 auto;
   width:auto;
   border-collapse:collapse;
   text-align:center;
   margin-top:20px;
   margin-bottom:20px;
}
h2{
   font-family:"Gulim";
}
td,th {
   font-size:10pt;
   border:1px solid #002060;
   height:30px;
   padding:5px;
}

th {
   background-color:#002060;
   color:#ffffff;
   font-family:Georgia;
}

tr td {
   color:#000000;
   bakcground-color:#002060;
}

input {
   margin-left:20px;
   height:25px;
   width:70px;
   background:#FFFFFF;
   text-align:center;
}

input [type="submit"], [type="reset"], [type="button"]{
   height:25px;
   width:80px;
}

/* --- END COPY here --- */

/*********************/
/*  6. CLEAR FLOATS  */
/*********************/
.page-container:after, .header:after, .header-breadcrumbs:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}

/***********************************/
/*  7. PRINTING and MISCELLANEOUS  */
/***********************************/
@media print {.header-top {width:900px; height:80px; background:rgb(240,240,240); overflow:visible !important /*Firefox*/; overflow:hidden /*IE6*/;}}
@media print {.nav2 {float:left; width:900px; border:none; background:rgb(240,240,240); color:rgb(75,75,75); font-size:1.0em; font-size:130%;}} /*Color navigation bar normal mode*/
@media print {.header-breadcrumbs {width:900px; background:transparent;}}
html {filter: expression(document.execCommand("BackgroundImageCache", false, true));} /*IE flicker hack for background images*/